= form_for @pet do |f|
  = f.label(:title, "标题")
  = f.text_field(:title)

  = f.label(:url, "url")
  = f.text_area(:url, rows: 5)

  = f.label(:topic_name, "主题")
  = f.text_field(:topic_name)

  .button= f.submit("提交")

