.well.row-fluid
  = render @pet.vote
  .span4
    %a{href: fix_url(@pet.url),style:"display: block"} 
      =@pet.title
    promoted by 
    %p= "#{@pet.comments.count} 评论" 




= render 'comments/comment'

%table.table{style: "margin-left: 70px;margin-top:40px"}
  %tbody
    - @pet.comments.each do |comment|
      %tr
        %td= comment.content
