.well.row-fluid
  = render 'votes/vote'
  .span4
    %a{href: fix_url(@pet.url),style:"display: block"} 
      = @pet.title
    = link_to "[#{@pet.topic.topic_name}]", topic_path(@pet.topic)
    &bull;
    promoted by :
    = link_to @pet.user.username, user_path(@pet.user)
    %p= "#{@pet.comments.count} 评论"




= render 'comments/comment'

%table.table{style: "margin-left: 70px;margin-top:40px"}
  %tbody
    - @pet.comments.each do |comment|
      %tr
        %td
          %p
            - if comment.try(:user).try(:username)
              = link_to comment.try(:user).try(:username), user_path(comment.user)
              %strong :
          %p= comment.content
